<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <div>
    <h1>Welcome on the Webpage about Angela Merkel</h1>
    <h3><a href="/about">All about A. Merkels life</a></h3>
        <h3><a href="/works">All awards of A. Merkel</a></h3>
            <h3><a href="/gallery">Gallery about A. Merkel </a>
    </h3>
    </div>
</body>
</html>