<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <h1>Awards</h1>
    <h3>In 2006, Merkel was awarded the Vision for Europe Award for her contribution toward greater European integration.
        She received the Karlspreis (Charlemagne Prize) in 2008 for distinguished services to European unity.[219][220]
        In March 2008, she received the B'nai B'rith Europe Award of Merit.[221]
        Merkel topped Forbes magazine's list of "The World's 100 Most Powerful Women" in 2006, 2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018 and 2019.[222]
        In 2010, New Statesman named Merkel as one of "The World's 50 Most Influential Figures".[223]
        On 16 June 2010, the American Institute for Contemporary German Studies at Johns Hopkins University in Washington D.C. awarded Merkel its Global Leadership Award (AICGS) in recognition of her outstanding dedication to strengthening German-American relations.[224]
        On 21 September 2010, the Leo Baeck Institute, a research institution in New York City devoted to the history of German-speaking Jewry, awarded Merkel the Leo Baeck Medal. The medal was presented by former U.S. Secretary of the Treasury and current Director of the Jewish Museum Berlin, W. Michael Blumenthal, who cited Merkel's support of Jewish cultural life and the integration of minorities in Germany.[225]
        On 31 May 2011, she received the Jawaharlal Nehru Award for the year 2009 from the Indian government. She received the award for International understanding.[226]
        Forbes list of The World's Most Powerful People ranked Merkel as the world's second most powerful person in 2012, the highest ranking achieved by a woman since the list began in 2009; she was ranked fifth in 2013 and 2014
        On 28 November 2012, she received the Heinz Galinski Award in Berlin, Germany.
        India: Indira Gandhi Peace Prize (2013)
        In December 2015, she was named Time magazine's Person of the Year.[227]
        In May 2016, Merkel received the International Four Freedoms Award from the Roosevelt Foundation in Middelburg, the Netherlands.[228]
        In 2017, Merkel received the Elie Wiesel Award from the United States Holocaust Memorial Museum.[229]
        In 2020, Merkel received the Henry A. Kissinger Prize from the American Academy in Berlin.[230]</h3>
    
</body>
</html>